@page "/Yee"
@using Lazcat.Blog.Web.Services.Articles
@inject IArticleService ArticleService
@inject IJSRuntime JSRuntime
<textarea @bind="@c.a" @bind:event="oninput" @onkeyup="t"></textarea>

<div>
    @((MarkupString)c.b)
</div>

@code {
    private MyClass c= new(){a = String.Empty};


    private class MyClass
    {
        public string a { get; set; }
        public string b { get; set; }
    }

    private void t()
    {
        c.b = ArticleService.ConvertToHtml(c.a);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("Prism.highlightAll");
    }

}