@inherits LayoutComponentBase
<Layout>
    <Sider Style="overflow: auto; height: 100vh; position: fixed; left: 0;">
        <div class ="logo"><Title Level="4" Style="text-align: center;font-family: DFKai-sb, cursive;margin-bottom : 0; line-height: 64px; color: whitesmoke">後臺管理系統</Title></div>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline">
            <MenuItem>
                <Icon Type="file-add" Theme="outline" />
                <NavLink href="manager/article/new" Match="NavLinkMatch.All">新增文章</NavLink>
            </MenuItem>
            <MenuItem>
                <Icon Type="folder-open" Theme="outline" />
                <NavLink href="manager/article/articlemanager" Match="NavLinkMatch.All">文章管理</NavLink>
            </MenuItem>
            <MenuItem>
                <Icon Type="bar-chart" Theme="outline" />
                <NavLink href="manager/article/new" Match="NavLinkMatch.All">流量分析</NavLink>
            </MenuItem>
            <MenuItem>
                <Icon Type="bar-chart" Theme="outline" />
                <NavLink href="yee" Match="NavLinkMatch.All">流量分析</NavLink>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Class="site-layout" Style="margin-left: 200px">
        <Header Class="site-layout-background" Style="padding: 0; margin: 8px 16px 0; box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
        </Header>
        <Content Style="margin: 24px 16px 0; overflow: initial; min-height: 800px">
            <div class="site-layout-background" style="padding: 24px; text-align: center; min-height: 100%">
                @Body
            </div>
        </Content>
        <Footer Style="text-align: center; color: blueviolet">Lazcat blog for test</Footer>
    </Layout>
</Layout>
<style>
    .site-layout .site-layout-background {
        background: #fff;
    }
    .logo {
        height: 64px;
        background: rgba(255, 255, 255, 0.2);
        margin: 8px 8px 24px;
    }
</style>
@code {

}