<div class="footer">
    <div class="footer-flex">
        <div class="footer-copyright">
            <a class="cc-pic" rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/tw/">
                <img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/3.0/tw/88x31.png"/>
            </a>
            <p>
                本著作係採用<a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/tw/">創用 CC 姓名標示-非商業性 3.0 台灣 授權條款</a>授權.
            </p>
        </div>
        <div class="footer-author">Author: Lazcat</div>
    </div>
</div>

<style>
    .footer-flex{
        display: flex;
        position:relative;
    }
    .footer-flex a{
        text-decoration: black underline;
        color: black;  
        margin: 0 10px;
    }
    
    .cc-pic{
        margin-right: 20px;
    }
    
    .cc-pic>img{
        vertical-align: bottom; 
    }
    .footer-copyright{
        display:flex;
    }
    
    .footer-author{
        position:absolute;
        right: 0;
    }
   
</style>

@code {

}