@using Lazcat.Blog.Models.Dtos.Articles
@using System.Text.Json
@inject IJSRuntime JSRuntime

@if (ArticleDto == null)
{
    <p><span>Loading...</span></p>
}
else
{
    <div style="text-align: left">
        <Title Level="1">@ArticleDto.Title</Title>
        <Divider></Divider>
        <div>
            @((MarkupString) ArticleDto.Content)
        </div>
    </div>
}

@code {
    [Parameter]
    public ArticleDto ArticleDto { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("Prism.highlightAll");
    }
}