@using Lazcat.Blog.Models.Dtos.Articles
@using Lazcat.Blog.Web.Services.Articles
@inject IJSRuntime JSRuntime

@if (ArticleDto == null)
{
    <p><Spin>Loading...</Spin></p>
}
else
{
    <div>
        <Title Style="text-align: center" Level="1">@ArticleDto.Title</Title>
        <Divider></Divider>
        <div  style="text-align: left">
            @((MarkupString) ArticleDto.Content)
            @{ Console.WriteLine(ArticleDto.Content); }
        </div>
    </div>
}

<style>
    div {
        word-wrap: break-word
        /* overflow: hidden; */
    }
</style>


@code {
    [Parameter]
    public ArticleDto ArticleDto { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("Prism.highlightAll");
    }
}