@using Lazcat.Blog.Models.Dtos.Articles

@if (ArticleDto == null)
{
    <p><span>Loading...</span></p>
}
else
{
    <div style="text-align: left">
        <Title Level="1">@ArticleDto.Title</Title>
        <div>
             @((MarkupString) ArticleDto.Content)
        </div>
    </div>


}

@code {
    [Parameter]
    public ArticleDto ArticleDto { get; set; }
}