# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Lazcat.Blog.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Desktop\Lazcat\Lazcat.BlogApiService\.idea\.idea.Lazcat.Blog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
